/*Barra del HOME arriba*/
#navbarcolor{
	background-color: #2B537D !important;
	height: 86px;
}
/*Logotipo manzana navbar*/
#logotipomanzana{
	height: 80px;
	width: 80px;
}
/*Healthy clinic navbar*/
#fuenteclinica{
	font-size: 32px;
	font-family: 'Century Gothic';
	color: white;
}
.nav-link{
	text-align: center;
	font-size: 24px;

}
#contenedorcentro{
	background-size: cover;
	background-image: url(../IMAGENES/atencion2.png);
	margin: 0 auto;
}
.conocenos{
	background-color: #2B537D;
	color: white;
	text-align: center;
}
.iconos{
	height: 25%;
	width: 25%;
}
.parrafo{
	font-family: 'Arial';
	font-size: 24px;
}
#cirugia{
	height: 100%;
	width: 100%;
}
#apartadosomos{
	text-align: justify;
	/*Para centrar en el medio del container*/
	display: flex;
	align-items: center;
}
.contacto{
	background-color: #373435;
}
#manzanacontacto{
/*Para centar la imagen deberan de tener las mismas medidas del container padre, en este caso 200px*/
	height: 120px;
	width: 120px;
	display: flex;
	align-items: center;
}
.link{
	font-size: 24px;
	color: white;
}
